.header-wrapper {
    display: block;
    height: 49px;
    background-color: #1e88e5;
    color: #ffffff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}

.header-title {
    display: block;
    font-size: 20px;
    padding: 12.5px;
    margin-left: 16px;
}

.header-spacer {
    height: 49px;
}

.main-content {
    padding-top: 54px;
    padding-bottom: 50px;
}